{% extends "base.html" %}

{% block header %}
<div class="banner banner-dark" id="banner-background">
    
</div>
{% endblock %}

{% block content %}
    <div>
        <div class="box-top">
            <div class="box-circle"></div>
            <input type="text" placeholder="Create a new todo" autofocus class="box-input" id="new-todo">
        </div>
        <div class="box-bottom">
            {% if 'data' in session%}
            <ul class="list-todo" id="list-todo" data-user={{ data['id'] }}>
                {% if data['tasks'] %}
                {% for item in data['tasks'] %}
                <li class="todo-item" id ={{ item['id'] }} data-status="{{ item['status'] }}" draggable="true">
                    {% if item['status'] == 'completed' %}
                    <div class="todo-circle todo-{{ item['status'] }}"></div>
                    <p class="todo-text todo-{{ item['status'] }}">{{ item["task"] }}</p>
                    {% else %}
                    <div class="todo-circle"></div>
                    <p class="todo-text">{{ item["task"] }}</p>
                    {% endif %}
                    <img src="/static/img/icon-cross.svg" alt="Drop item" class="todo-img">
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            {% else %}
            <ul class="list-todo" id="list-todo" data-user="None">

            </ul>
            {% endif %}
            <div class="options">
                <p id="items-left">0 items left</p>
                <div id="clean-completed">Clear Completed</div>
            </div>
            <div class="filter" id="filter">
                <div class="filter-selected" data-status="all">All</div>
                <div class="filter-hover" data-status="active">Active</div>
                <div class="filter-hover" data-status="completed">Completed</div>
            </div>
        </div>
    </div>
    <p class="main-tip">Drag and drop to reorder list</p>
    <input type="button" value="Save" class="save-data" id="save-data">
    
{% endblock %}
