{% extends "base.html" %}

{% block header %}
<div class="banner logsign-banner banner-dark" id="banner-background">
        
</div>
{% endblock %}

{% block content %}
    <h1 class="logsign-title">Login</h1>
    {% if alert %}
    <p class="logsign-alert">{{ alert }}</p>
    {% endif %}
    <form action="/validate" method="POST" class="form">
        <input type="text" placeholder="Nombre de usuario" name="userName" autofocus required class="form-input">
        <input type="password" placeholder="Contraseña" name="userPass" required class="form-input">
        <button class="send-form">Log in</button>
    </form>
        
    <a href="/register" class="link-signin">Sign in</a>

{% endblock %}